<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <!-- Documentation: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#coverlet-options-supported-by-vstest-integration -->
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>lcov</Format>

                    <!-- Exclusion rules are not synchronized with dotCover, which are controlled by *.sln.DotSettings -->
                    <!-- Syntax: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#filters -->
                    <Exclude>[Test*]*,[Performance]*,[SolCalc]SolCalc.Math.DecimalMath,[SolCalc]SolCalc.NoaaSolarCalculator</Exclude>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>